/* *** Layout *** */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Roboto:wght@300;400;500;700;900&display=swap");
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
}

/* *** Text Size *** */
.lg-heading {
  font-weight: 900;
  font-size: 5rem;
}

.md-heading {
  font-weight: 600;
  font-size: 2.5rem;
}

.sm-heading {
  font-weight: 400;
  font-size: 1.5rem;
}

.text-secondary {
  color: #13a88c;
}

/* *** Button *** */
.btn {
  margin-top: 3rem;
  padding: .5rem 1rem;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
  border: 0;
  border-radius: 1.5rem;
  transition: all .5s ease-in;
}

.btn:hover {
  transform: scale(1.02);
}

.btn:active {
  transform: scale(0.98);
}

.btn-primary {
  color: #3e3636;
  background: #278ea5;
}

.btn-primary:visited {
  color: #3e3636;
}

.btn-outline {
  color: #21e6c1;
  border: 1px solid #21e6c1;
  background: transparent;
}

.btn-outline:visited {
  color: #21e6c1;
}

/* *** Containers *** */
.underline {
  width: 5rem;
  height: .25rem;
  margin: .5rem auto;
  background-color: #278ea5;
}

.heading-wrapper {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
}

.heading-wrapper .btn {
  max-width: 10rem;
}

.card {
  padding: 2rem 1.5rem;
  max-width: 80vw;
  box-shadow: 0 0 5px 10px rgba(33, 230, 193, 0.1);
}

section {
  margin-bottom: 5rem;
  padding: 5rem;
}

header {
  margin: 0 auto;
  padding: 0 5rem;
  max-width: 1400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 700;
}

.menu-btn {
  display: none;
}

.menu-nav {
  display: flex;
}

.menu-nav .nav-item {
  margin-right: .5rem;
}

.menu-nav .nav-item.current a.nav-link {
  color: #45b9d3;
}

/* *** Base styles *** */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  color: #21e6c1;
  font-size: 16px;
  background-color: #3e3636;
}

ul {
  list-style-type: none;
}

a {
  font-size: 1rem;
  text-decoration: none;
  color: #21e6c1;
}

a:visited {
  color: #278ea5;
}

p {
  max-width: 40rem;
  line-height: 1.5;
}

/* *** Welcome *** */
#welcome-section {
  height: 100vh;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

#welcome-section .img-wrapper .portrait {
  background: url(../assets/portrait.jpg);
  background-attachment: fixed;
  background-size: cover;
}

#skills-section {
  background-color: #302a2a;
}

#skills-section .card-container {
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

#skills-section .card-container .card {
  transition: all .5s ease-in;
}

#skills-section .card-container .card:hover {
  transform: translateY(-10px);
  box-shadow: 5px 5px 10px 15px rgba(33, 230, 193, 0.1);
}

#technologies-section .card-container {
  min-width: 80vw;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  justify-items: center;
  gap: 1.5rem;
}

#technologies-section .card-container .card {
  font-size: 2.5rem;
  padding: 1rem;
  border-radius: 1rem;
  transition: all .5s ease-in;
}

#technologies-section .card-container .card:hover {
  color: #3e3636;
  background-color: #21e6c1;
}

footer {
  padding: 1.5rem;
  background-color: black;
}

footer .icons {
  margin-bottom: 1rem;
}

footer .icons a {
  color: #21e6c1;
  margin-left: 1rem;
  transition: all .5s ease-in;
}

footer .icons a:hover {
  transform: translateY(-5px);
}

footer .footer-text {
  font-size: .8rem;
}
