/* *** Layout *** */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Roboto:wght@300;400;500;700;900&display=swap");
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
}

/* *** Text Size *** */
.lg-heading {
  font-weight: 900;
  font-size: 5rem;
}

.md-heading {
  font-weight: 600;
  font-size: 2.5rem;
}

.sm-heading {
  font-weight: 400;
  font-size: 1.5rem;
}

.text-secondary {
  color: #13a88c;
}

/* *** Button *** */
.btn {
  margin-top: 3rem;
  padding: .5rem 1rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  border: 0;
  border-radius: 1.5rem;
  transition: all .5s ease-in;
}

.btn:hover {
  transform: scale(1.02);
}

.btn:active {
  transform: scale(0.98);
}

.btn-primary {
  color: #3e3636;
  background: #278ea5;
}

.btn-primary:visited {
  color: #3e3636;
}

.btn-outline {
  color: #21e6c1;
  border: 1px solid #21e6c1;
  background: transparent;
}

.btn-outline:visited {
  color: #21e6c1;
}

/* *** Containers *** */
.underline {
  width: 5rem;
  height: .25rem;
  margin: .5rem auto;
  background-color: #278ea5;
}

.heading-wrapper {
  margin-bottom: 5rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}

.heading-wrapper .btn {
  max-width: 10rem;
}

.card {
  padding: 2rem 1.5rem;
  max-width: 80vw;
  box-shadow: 0 0 5px 10px rgba(33, 230, 193, 0.1);
}

section {
  margin-bottom: 5rem;
  padding: 5rem;
}

@media (max-width: 768px) {
  section {
    padding: 1rem;
  }
}

header {
  width: 100%;
  margin: 0 auto;
  padding: 0 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  position: relative;
  font-weight: 700;
  font-size: 1.5rem;
  z-index: 5;
}

header .menu-btn {
  display: none;
}

header .menu-nav {
  display: flex;
}

header .menu-nav .nav-item {
  margin-right: 1rem;
  font-size: 1.4rem;
}

header .menu-nav .nav-item.current a.nav-link {
  color: #94f3e1;
  border-bottom: 1px solid #278ea5;
}

header .menu-nav .nav-item:nth-last-of-type() {
  margin-right: 0;
}

@media (max-width: 768px) {
  header {
    width: 100%;
    margin: 0;
    padding: 1rem;
  }
  header .menu-btn {
    display: block;
    font-size: 1.5rem;
    z-index: 5;
  }
  header .menu {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 5rem;
    left: 0;
    z-index: 3;
    transform: translateY(-100%);
    transition: all .5s ease-in;
  }
  header .menu::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 10%;
    background: rgba(62, 54, 54, 0.9);
    z-index: 2;
  }
  header .menu .menu-nav {
    display: flex;
    justify-content: center;
  }
  header .menu.open {
    transform: translateY(0);
  }
}

/* *** Base styles *** */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  color: #21e6c1;
  background-color: #3e3636;
}

ul {
  list-style-type: none;
}

a {
  font-size: 1rem;
  text-decoration: none;
  color: #21e6c1;
}

a:visited {
  color: #21e6c1;
}

p {
  max-width: 40rem;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
}

/* *** Welcome *** */
#welcome-section {
  height: 100vh;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

#welcome-section .img-wrapper {
  position: relative;
}

#welcome-section .img-wrapper .portrait {
  width: 70%;
  height: auto;
  border-radius: 2% 98% 19% 81% / 97% 28% 72% 3%;
}

#welcome-section .img-wrapper .portrait-bg {
  position: absolute;
  top: 0;
  right: 15%;
  width: 60%;
  height: 75%;
  background-image: linear-gradient(to right, #0cebeb, #20e3b2, #29ffc6);
  border-radius: 0% 100% 0% 100% / 100% 0% 100% 0%;
  transition: all 1s ease-in-out;
  animation: morph 8s ease-in-out infinite, move 12s ease-in-out infinite;
  z-index: -1;
}

@media (max-width: 968px) {
  #welcome-section {
    grid-template-columns: 1fr;
  }
  #welcome-section .img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #welcome-section .img-wrapper .portrait,
  #welcome-section .img-wrapper .portrait-bg {
    width: 30%;
  }
  #welcome-section a {
    align-self: center;
  }
}

@media (max-width: 500px) {
  #welcome-section .img-wrapper {
    display: none;
  }
}

/* *** Skills *** */
#skills-section {
  background-color: #302a2a;
}

#skills-section .card-container {
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

#skills-section .card-container .card {
  transition: all .5s ease-in;
}

#skills-section .card-container .card:hover {
  transform: translateY(-10px);
  box-shadow: 5px 5px 10px 15px rgba(33, 230, 193, 0.1);
}

@media (max-width: 720px) {
  #skills-section .card-container {
    grid-template-columns: 1fr;
  }
}

/* *** Technologies *** */
#technologies-section .card-container {
  max-width: 80vw;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  justify-items: center;
  gap: 1.5rem;
}

#technologies-section .card-container .card {
  font-size: 2.5rem;
  padding: 1rem;
  box-shadow: none;
  transition: all .5s ease-in;
}

#technologies-section .card-container .card i {
  font-size: 5rem;
}

#technologies-section .card-container .card:hover {
  color: #3e3636;
  transform: rotateZ(10deg) scale(1.02);
  transform-origin: right;
}

#technologies-section .card-container .card:nth-of-type(1) i {
  color: #E34F26;
}

#technologies-section .card-container .card:nth-of-type(2) i {
  color: #2965F1;
}

#technologies-section .card-container .card:nth-of-type(3) i {
  color: #F0DB4f;
}

#technologies-section .card-container .card:nth-of-type(4) i {
  color: #68A063;
}

#technologies-section .card-container .card:nth-of-type(5) i {
  color: #553C7B;
}

#technologies-section .card-container .card:nth-of-type(6) i {
  color: #41B883;
}

#technologies-section .card-container .card:nth-of-type(7) i {
  background: linear-gradient(280deg, #ff0000, #ff0092, #553C7B, #2965F1, #41B883);
  background: -webkit-linear-gradient(280deg, #ff0000, #ff0092, #553C7B, #2965F1, #41B883);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#technologies-section .card-container .card:nth-of-type(8) i {
  color: #F1502F;
}

#technologies-section .card-container .card:nth-of-type(9) i {
  color: #61DBFB;
}

#technologies-section .card-container .card:nth-of-type(10) i {
  color: #CC6699;
}

/* *** About *** */
#about-section {
  width: 100%;
  background-image: linear-gradient(to right, #0cebeb, #20e3b2, #29ffc6);
}

#about-section h3.md-heading {
  color: #40514e;
}

#about-section p.text-secondary {
  color: #3e3636;
}

#about-section .about-wrapper {
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

#about-section .about-wrapper .text-wrapper {
  max-width: 80%;
}

#about-section .about-wrapper:first-of-type img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1100px) {
  #about-section .about-wrapper {
    grid-template-columns: 1fr;
  }
  #about-section .about-wrapper .text-wrapper {
    max-width: 100%;
  }
  #about-section .about-wrapper:nth-of-type(2) .img-wrapper {
    order: 4;
  }
}

/* *** Experience *** */
#experience-section .experience-wrapper {
  width: 80vw;
  max-width: 40rem;
  margin: 0 auto;
}

#experience-section .experience-wrapper .experience-item {
  position: relative;
  margin: 0;
  padding: 4rem 2rem;
  border-top: 2px dashed #21e6c1;
}

#experience-section .experience-wrapper .experience-item span {
  position: absolute;
  top: 50%;
  width: 2rem;
  height: 2rem;
  color: #3e3636;
  border-radius: 50%;
  background-color: #21e6c1;
  display: grid;
  place-items: center;
  transform: translateY(-50%);
}

#experience-section .experience-wrapper .experience-item:nth-of-type(odd) {
  margin-right: 2rem;
  padding-right: 0;
  border-left: 2px dashed #21e6c1;
  border-radius: 2rem 0 0 2rem;
}

#experience-section .experience-wrapper .experience-item:nth-of-type(odd) span {
  left: -1rem;
}

#experience-section .experience-wrapper .experience-item:nth-of-type(even) {
  margin-left: 2rem;
  padding-left: 0;
  border-right: 2px dashed #21e6c1;
  border-radius: 0 2rem 2rem 0;
}

#experience-section .experience-wrapper .experience-item:nth-of-type(even) span {
  right: -1rem;
}

#experience-section .experience-wrapper .experience-item:first-of-type {
  border-radius: 0 0 0 2rem;
  border-left: 2px dashed #21e6c1;
  border-top: 0;
}

#experience-section .experience-wrapper .experience-item:first-of-type::before {
  content: '\f43c';
  position: absolute;
  top: -1.85rem;
  left: -1rem;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 2rem;
  color: #21e6c1;
}

#experience-section .experience-wrapper .experience-item:last-of-type {
  border-radius: 0 2rem 0 0;
}

#experience-section .experience-wrapper .experience-item:last-of-type::after {
  content: '\f11e';
  position: absolute;
  bottom: -1.7rem;
  right: -1.85rem;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 2rem;
  color: #21e6c1;
}

/* *** Projects *** */
#projects-section .projects-wrapper {
  margin: 0 auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  gap: 1rem;
  grid-template-areas: 'a a b b c c c c' 'a a b b c c c c' 'd d d d c c c c' 'd d d d c c c c' 'd d d d c c c c' 'e e e e f f f f' 'e e e e f f f f' 'e e e e f f f f';
}

@media (max-width: 1075px) {
  #projects-section .projects-wrapper {
    width: 100%;
    grid-template-rows: repeat(8, 5vw);
    grid-template-areas: 'a a a a b b b b' 'a a a a b b b b' 'd d d d c c c c' 'd d d d c c c c' 'd d d d c c c c' 'e e e e c c c c' 'e e e e f f f f' 'e e e e f f f f';
  }
}

@media (max-width: 768px) {
  #projects-section .projects-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 25vh);
    grid-template-areas: 'a' 'b' 'c' 'd' 'e' 'f';
  }
}

#projects-section .project:nth-of-type(1) {
  grid-area: a;
}

#projects-section .project:nth-of-type(2) {
  grid-area: b;
}

#projects-section .project:nth-of-type(3) {
  grid-area: c;
}

#projects-section .project:nth-of-type(4) {
  grid-area: d;
}

#projects-section .project:nth-of-type(5) {
  grid-area: e;
}

#projects-section .project:nth-of-type(6) {
  grid-area: f;
}

#projects-section .project {
  position: relative;
  overflow: hidden;
}

#projects-section .project .img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .5s ease-in;
}

#projects-section .project .project-info {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  background: #4febce;
  transform-origin: left;
  transform: perspective(2000px) rotateY(-90deg);
  transition: all .5s ease-in;
}

#projects-section .project .project-info div {
  background-color: #21e6c1;
  padding: 1rem;
}

#projects-section .project .project-info h4 {
  margin: 0;
  font-size: 1.2rem;
  color: #3e3636;
}

#projects-section .project .project-info p {
  font-size: 1rem;
  color: #40514e;
}

#projects-section .project .project-info ul {
  padding: 0;
  display: flex;
  gap: 1rem;
}

#projects-section .project .project-info ul li a {
  font-size: 1rem;
  color: #3e3636;
}

#projects-section .project .project-info ul li:hover a {
  color: #070707;
}

#projects-section .project:hover .img-wrapper, #projects-section .project:active .img-wrapper {
  overflow: hidden;
}

#projects-section .project:hover .img-wrapper img, #projects-section .project:active .img-wrapper img {
  opacity: .5;
  transform: translateX(30%);
}

#projects-section .project:hover .project-info, #projects-section .project:active .project-info {
  transform: perspective(2000px) rotateY(0deg);
  z-index: 5;
}

@media (max-width: 1775px) {
  #projects-section .project .project-info p {
    align-self: center;
    display: none;
  }
}

/* *** Companies *** */
#companies .companies-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 5rem;
  overflow: hidden;
}

#companies .companies-wrapper .companies-slide {
  position: relative;
  z-index: 1;
  animation: slide 50s linear infinite;
  transform: translateX(100%);
}

#companies .companies-wrapper .companies-slide .company {
  margin-left: 2rem;
}

#companies .companies-wrapper .companies-slide .company i {
  font-size: 8rem;
}

#companies .companies-wrapper .companies-slide .company:nth-of-type(1) {
  color: #FF5A60;
}

#companies .companies-wrapper .companies-slide .company:nth-of-type(2) {
  color: #0052cc;
}

#companies .companies-wrapper .companies-slide .company:nth-of-type(3) {
  color: #F48120;
}

#companies .companies-wrapper .companies-slide .company:nth-of-type(4) {
  color: #169BD7;
}

#companies .companies-wrapper .companies-slide .company:nth-of-type(5) {
  background: linear-gradient(45deg, #ff0000, #ffed00, #ff0092, #c2ff00, #00c7f2, #c1f1fc);
  background: -webkit-linear-gradient(45deg, #ff0000, #ffed00, #ff0092, #c2ff00, #00c7f2, #c1f1fc);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#companies .companies-wrapper .companies-slide .company:nth-of-type(6) {
  color: #00af87;
}

#companies .companies-wrapper .companies-slide .company:nth-of-type(7) {
  color: #ccd82e;
}

#companies .companies-wrapper .companies-slide .company:nth-of-type(8) {
  color: #22d1ee;
}

#companies .companies-wrapper .companies-slide .company:nth-of-type(9) {
  color: #553b08;
}

#companies .companies-wrapper .companies-slide .company:nth-of-type(10) {
  color: #ff1f5a;
}

#companies .companies-wrapper .companies-slide .company:nth-of-type(11) {
  color: black;
}

#companies .companies-wrapper .companies-slide .company:nth-of-type(12) {
  color: #ff5959;
}

#companies .companies-wrapper .companies-slide:nth-of-type(2) {
  z-index: 0;
  transform: translateX(50%);
}

@media (max-width: 768px) {
  #companies .company-main-wrapper .companies-wrapper .companies-slide .company i {
    font-size: 5rem;
  }
}

/* *** Contact *** */
#contact-section .contact-wrapper {
  position: relative;
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#contact-section .contact-wrapper .contact-form {
  position: relative;
  width: calc(100% - 25rem);
  max-width: 50vw;
  margin: 0 auto;
  padding: 3.5rem 2.5rem 1.4rem;
  background: #21e6c1;
}

#contact-section .contact-wrapper .contact-form form {
  width: 100%;
}

#contact-section .contact-wrapper .contact-form form .row {
  width: 100%;
  display: flex;
}

#contact-section .contact-wrapper .contact-form form .row .input50 {
  width: 50%;
  margin: 0 .8rem;
}

#contact-section .contact-wrapper .contact-form form .row .input100 {
  width: 100%;
  margin: 0 .8rem;
}

#contact-section .contact-wrapper .contact-form form .row input, #contact-section .contact-wrapper .contact-form form .row textarea {
  position: relative;
  width: 100%;
  margin: .8rem 0;
  padding: .8rem;
  color: #40514e;
  font-size: 1.2rem;
  font-weight: 300;
  outline: none;
  border: 1px solid #3e3636;
  background: transparent;
  resize: none;
}

#contact-section .contact-wrapper .contact-form form .row textarea {
  height: 10rem;
}

#contact-section .contact-wrapper .contact-form form .row input[type='submit'] {
  max-width: 20rem;
  margin: 0 auto;
  color: #21e6c1;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  cursor: pointer;
  background-color: #3e3636;
}

#contact-section .contact-wrapper .contact-form form .row:nth-last-of-type() {
  flex-direction: column;
}

#contact-section .contact-wrapper .contact-info {
  width: 22rem;
  margin: 0 auto;
  padding: 3.5rem 2.5rem 1.4rem;
  background: #21e6c1;
}

#contact-section .contact-wrapper .contact-info .info-box {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1.1rem;
}

#contact-section .contact-wrapper .contact-info .info-box .contact-icon {
  width: 1.4rem;
  margin-right: 2.5rem;
  color: #3e3636;
  align-self: center;
}

#contact-section .contact-wrapper .contact-info .info-box .contact-icon i {
  font-size: 1.5rem;
}

#contact-section .contact-wrapper .contact-info .info-box .details h4 {
  color: #40514e;
  margin-bottom: .8rem;
}

#contact-section .contact-wrapper .contact-info .info-box .details p, #contact-section .contact-wrapper .contact-info .info-box .details a {
  margin-top: .5rem;
  display: block;
  text-decoration: none;
  color: #3e3636;
}

@media (max-width: 1068px) {
  #contact-section .contact-wrapper {
    flex-direction: column;
  }
  #contact-section .contact-wrapper .contact-form {
    width: 100%;
    max-width: 90%;
    padding: 2rem 2rem 1.4rem;
  }
  #contact-section .contact-wrapper .contact-form form .row {
    flex-direction: column;
  }
  #contact-section .contact-wrapper .contact-form form .row .input50,
  #contact-section .contact-wrapper .contact-form form .row .input100 {
    width: 100%;
    margin: 0;
  }
  #contact-section .contact-wrapper .contact-info {
    width: 100%;
    max-width: 90%;
    margin-top: 1.5rem;
    padding: 2rem 2rem 1.4rem;
  }
}

@media (max-width: 500px) {
  #contact-section .contact-wrapper .contact-form,
  #contact-section .contact-wrapper .contact-info {
    max-width: 100%;
  }
}

footer {
  padding: 1.5rem;
  background-color: black;
}

footer .icons {
  margin-bottom: 1rem;
}

footer .icons a {
  color: #21e6c1;
  margin-left: 1rem;
}

footer .icons a i {
  transition: all .5s ease-in;
}

footer .icons a:hover i, footer .icons a:active i {
  transform: translateY(-5px);
}

footer .icons a:first-of-type {
  margin-left: 0;
}

footer .footer-text {
  font-size: .8rem;
}

/* *** Animation *** */
@keyframes morph {
  0% {
    border-radius: 28% 72% 15% 85% / 90% 22% 78% 10%;
    background-image: linear-gradient(45deg, var(#88D5BF) 0%, var(#5D6BF8) 100%);
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    background-image: linear-gradient(45deg, var(#e27fcb) 0%, var(#5D6BF8) 100%);
  }
  100% {
    border-radius: 28% 72% 15% 85% / 90% 22% 78% 10%;
    background-image: linear-gradient(45deg, var(#88D5BF) 0%, var(#5D6BF8) 100%);
  }
}

@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(12px, 15px);
  }
  70% {
    transform: translate(-30px, -5px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes slide {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateX(-50%);
  }
}
