header {
    position: fixed;
    width: 100%;
    margin: 0 auto;
    padding: 0 5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: 700;
    font-size: 1.5rem;
}

.menu-btn {
    display: none;
}

.menu-nav {
    display: flex;

    .nav-item {
        margin-right: 1rem;
        font-size: 1.2rem;

        &.current {
            a.nav-link {
                color: lighten($color-light-main, 25);
            }
            
        }

        &:nth-last-of-type() {
            margin-right: 0;
        }
    }
}

