header {
    width: 100%;
    margin: 0 auto;
    padding: 0 5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;


    .logo {
        position: relative;
        font-weight: 700;
        font-size: 1.5rem;
        z-index: 9;
    }
    
    .menu-btn {
        display: none;
    }
    
    .menu-nav {
        display: flex;
    
        .nav-item {
            margin-right: 1rem;
            font-size: 1.4rem;
    
            &.current {
                a.nav-link {
                    color: lighten($color-light-main, 25);
                    border-bottom: 1px solid $color-light-second;
                }
                
            }
    
            &:nth-last-of-type() {
                margin-right: 0;
            }
        }
    }

    &.fixed-header {
        position: fixed;
        background-color: rgba($color-dark-second, .9);
        border-bottom: 1px solid $color-light-main;
        z-index: 5;
    }

    header {
        @media (max-width: 768px) {
            width: 100%;
            margin: 0;
            padding: 1rem;
    
            .menu-btn {
                display: block;
                font-size: 1.5rem;
                z-index: 10;
            }
    
            .menu {
                position: fixed;
                width: 100%;
                height: 10%;
                top: 0;
                left: 0;
                background-color: rgba($color-dark-second, .9);
                z-index: 9;
                transform: translateY(-300%);
                @include easeIn;
    
                .menu-nav {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    z-index: 5;
                }
    
                &.open {
                    transform: translateY(90%);
                }
            }
        }
    }
}



